<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JobIAM.cat - Borsa de treball</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a href="/" class="navbar-brand">Job<strong>IAM.cat</strong></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/imgs/foto_admin.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Admin</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li class="active"><a href="/"><em class="fa fa-dashboard">&nbsp;</em> Tauler</a></li>
			<li><a href="usuaris"><em class="fa fa-address-book">&nbsp;</em> Usuaris</a></li>
			<li><a href="ofertes"><em class="fa fa-clipboard">&nbsp;</em> Ofertes Publicades</a></li>
			<li><a href="ofertesPendents"><em class="fa fa-pencil">&nbsp;</em> Ofertes Pendents</a></li>
			<li><a href="http://localhost:9000"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/">
						<em class="fa fa-home"></em>
					</a></li>
				<li class="active">Tauler</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Tauler</h1>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-container">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-comments color-red"></em>
							<div class="large">{{ofertes_pendents}}</div>
							<div class="text-muted">Ofertes Pendents</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-comments color-teal"></em>
							<div class="large">{{ofertes_publicades}}</div>
							<div class="text-muted">Ofertes Publicades</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-comments color-blue"></em>
							<div class="large">{{ofertes_totals}}</div>
							<div class="text-muted">Ofertes Totals</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-orange panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-users color-black"></em>
							<div class="large">{{users}}</div>
							<div class="text-muted">Usuaris</div>
						</div>
					</div>
				</div>
			</div>
			<!--/.row-->
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Ofertes per Categoría
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
							class="fa fa-toggle-up"></em></span></div>
				<div class="panel-body">
					<div class="canvas-wrapper">
						<canvas class="chart" id="doughnut-chart"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Ofertes segons la categoria
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
								class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-body" id="donutchart" style="width: 900px; height: 500px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<div class="col-sm-12">
			<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
		</div>
	</div>
	<!--/.row-->
	</div>

	<div style="display: none;">
		<div id="ofertes_ASIX">{{ofertes_ASIX}}</div>
		<div id="ofertes_DAW">{{ofertes_DAW}}</div>
		<div id="ofertes_DAM">{{ofertes_DAM}}</div>
		<div id="ofertes_SMIX">{{ofertes_SMIX}}</div>
	</div>

	<!--/.main-->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script>

		$(document).ready(function () {
			ofertes_ASIX = $("#ofertes_ASIX").text();
			ofertes_DAW = $("#ofertes_DAW").text();
			ofertes_DAM = $("#ofertes_DAM").text();
			ofertes_SMIX = $("#ofertes_SMIX").text();

			myarray=[
				{"color":"#F23A2E","highlight":"#EF2929","label":"ASIX","value": ofertes_ASIX*1},
				{"color":"#7CBD1E","highlight":"#73D216","label":"DAW","value": ofertes_DAW*1},
				{"color":"#EEC60A","highlight":"#EDD400","label":"DAM","value": ofertes_DAM*1},
				{"color":"#53CDE2","highlight":"#62b9fb","label":"SMIX","value": ofertes_SMIX*1}
			];
			
			console.log(myarray);
			

			var chart3 = document.getElementById("doughnut-chart").getContext("2d");
			window.myDoughnut = new Chart(chart3).Doughnut(myarray, {
				responsive: true,
				segmentShowStroke: false
			});

		});
	</script>

</body>

</html>