<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JobIAM.cat - Borsa de treball</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">
	<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
				<![endif]-->
</head>

<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a href="/" class="navbar-brand">Job<strong>IAM.cat</strong></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/imgs/foto_admin.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Admin</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li><a href="/"><em class="fa fa-dashboard">&nbsp;</em> Tauler</a></li>
			<li class="active"><a href="usuaris"><em class="fa fa-address-book">&nbsp;</em> Usuaris</a></li>
			<li><a href="ofertes"><em class="fa fa-clipboard">&nbsp;</em> Ofertes Publicades</a></li>
			<li><a href="ofertesPendents"><em class="fa fa-pencil">&nbsp;</em> Ofertes Pendents</a></li>
			<li><a href="http://localhost:9000"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/">
						<em class="fa fa-home"></em>
					</a></li>
				<li class="active">Usuaris</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Usuaris</h1>
			</div>
		</div>
		<!--/.row-->


		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Usuaris DAW
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
								class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<ul class="todo-list">
							{%for user in usuari%}
							<li class="todo-list-item">
								<div class="checkbox">
									<label>{{user[1]}}</label>
								</div>
							</li>
							{%endfor%}
						</ul>
					</div>
				</div><!-- /.panel-->
			</div>
		</div>
		<!--<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Usuaris DAM
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
								class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<ul class="todo-list">
							<li class="todo-list-item">
								<div class="checkbox">
									<label><a href="#tab3" data-toggle="tab">a17admjkhh@iam.cat</a></label>
									<div class="tab-content">
										<div class="tab-pane fade" id="tab3">
											<form role="form">
												<div class="form-group has-success">
													<input class="form-control" placeholder="8 INSCRIPCIONS">
												</div>
												<label>Accessos</label>
												<div class="form-group has-warning">
													<input class="form-control" placeholder="23-02-2019 12:16:24">
												</div>
												<div class="form-group has-warning">
													<input class="form-control" placeholder="20-02-2019 10:15:03">
												</div>
											</form>
										</div>
									</div>
								</div>
							</li>
							<li class="todo-list-item">
								<div class="checkbox">
									<label><a href="#tab4" data-toggle="tab">a15ghrt@iam.cat</a></label>
									<div class="tab-content">
										<div class="tab-pane fade" id="tab4">
											<form role="form">
												<div class="form-group has-success">
													<input class="form-control" placeholder="3 INSCRIPCIONS">
												</div>
												<label>Accessos</label>
												<div class="form-group has-warning">
													<input class="form-control" placeholder="05-01-2019 10:16:24">
												</div>
												<div class="form-group has-warning">
													<input class="form-control" placeholder="03-01-2019 10:15:03">
												</div>
											</form>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>/.panel-->
			</div>
		</div>
	</div><!-- /.col-->
	<div class="col-sm-12">
		<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
	</div>
	</div><!-- /.row -->
	</div>
	<!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>

</body>

</html>